/* De opmaak van alle elementen in de juiste volgorde
van boven naar beneden. Het buitenste element staat als eerst */

.exit {
	width: 35px;
	height: 35px;
	align-content: left;
	border-style: none;
	margin-top: 20px;
	margin-left: 90%;
}

.verlaten {
	width: 30px;
}

.inhoud {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

h1 {
	color: #8E7957;
	font-size: 90px;
	margin-top: 60px;
	font-family: poster-black, sans-serif;
	text-align: center;
	margin-bottom: 0px;
}

h2 {
	font-family: kon-tiki-aloha-jf, sans-serif;
	font-size: 15px;
	color: #8E7957;
	text-decoration: none;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 0px;
}

.kwartje {
	display: flex;
	justify-content: center;
	margin-top: 30px;
}

.logo {
	width: 40%;
}






